/* Home.css */
.overlap-group {
  background-image: url("./assets/WhatsApp Image 2024-03-03 at 09.36.47 (2).jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  
}

.text-wrapper,
.the-vision-of-ndoto,
.text-wrapper-2 {
  font-family: "Caudex-Regular", Helvetica;
  text-align: center; /* Center-align the text */
  margin-bottom: 10px; /* Add space between stacked items */
}

.text-wrapper {
  color: #ecbe04;
  font-size: 5rem; /* Adjust the font size as needed */
}

.div {
  color: #ecbe04;
  font-size: 2.5rem; /* Adjust the font size as needed */
  margin-left: 500px;
}

.the-vision-of-ndoto {
  color: #d5eb13;
  font-size: 1rem; /* Adjust the font size as needed */
}

.text-wrapper-2 {
  color: #000000;
  font-size: 1rem; /* Adjust the font size as needed */
}
