.custom-overlap-wrapper {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.custom-overlap-group {
  background-image: url('./assets/WhatsApp Image 2024-03-03 at 09.36.51.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh; /* Ensure full viewport height */
  position: relative;
}

.custom-vision-text {
  color: #ecbe04;
  font-family: "Caudex", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 144px;
  top: 70%; /* Position relative to parent */
  width: 1224px;
}

.custom-text-wrapper {
  color: #ecbe04;
  font-family: "Caudex", Helvetica;
  font-size: 85px;
  font-weight: 400;
  top: 20%; /* Position relative to parent */
  width: 1120px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  margin-left: 700px;
}

.custom-div-wrapper {
  color: #ecbe04;
  font-family: "Caudex", Helvetica;
  font-size: 40px;
  font-weight: 400;
  top: 50%; /* Position relative to parent */
  width: 1190px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}
