   .desktop {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
  }
  
  /* .div {
    background-color: #ffffff;
    position: relative;
    left: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caudex", serif;
    overflow-x: hidden;
} */
.div {
  background-color: #ffffff;
  position: relative;
  left: 0px;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caudex", serif;

}
  
.overlap {
    height: 480px;
    left: 88px;
    position: absolute;
    top: 368px;
    width: 572px;
  }
  
.screenshot-from {
    height: 240px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 374px;
  }
  
 .whatsapp-image {
    height: 278px;
    left: 213px;
    object-fit: cover;
    position: absolute;
    top: 202px;
    width: 359px;
  }
  
.overlap-group {
    height: 166px;
    left: 88px;
    position: absolute;
    top: 61px;
    width: 1093px;
  }
  
.text-wrapper {
    color: #000000;
    font-family: "Caudex", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 564px;
  }
  
.our-commitment-to {
    color: #000000;
    font-family: "Caudex", Helvetica;
    font-size: 41px;
    font-weight: 400;
    left: 300px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
    width: 934px;
  }
  
.overlap-group-2 {
    height: 685px;
    left: 778px;
    position: absolute;
    top: 265px;
    width: 614px;
  }
  
.p {
    color: #000000;
    font-family: "Caudex", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 250px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 614px;
  }
  
 .rectangle {
    height: 80px;
    left: 113px;
    position: absolute;
    top: 605px;
    width: 290px;
  }
  
.text-wrapper-2 {
    color: #ffffff;
    font-family: "Caudex", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 347px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 515px;
    width: 261px;
    background-color: #000000;
  }
  
.divider2 {
    height: 634px;
    left: 60px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 1px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #000;
  }
  